<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>http://10.133.15.14/nexus3/repository/ios-artifacts/220905/163554/iOSTSPSDKDemo.ipa</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>full-size-image</string>
                    <key>needs-shine</key>
                    <false/>
                    <key>url</key>
                    <string>http://10.133.15.14/nexus3/repository/ios-snapshots/com/tsp/lingshu/iOS/images/icon.512x512.png</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>display-image</string>
                    <key>needs-shine</key>
                    <false/>
                    <key>url</key>
                    <string>http://10.133.15.14/nexus3/repository/ios-snapshots/com/tsp/lingshu/iOS/images/icon.512x512.png</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.saicmotor.r</string>
                <key>bundle-version</key>
                <string>1.5.0</string>
                <key>kind</key>
                <string>software</string>
                <key>subtitle</key>
                <string>o-v</string>
                <key>title</key>
                <string>o-v</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
